*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display:block;
  background-color: #DCDCDC;
  font-size: 10px;
}

.container {
  margin: 10px auto;
  width: 100%;
}

div {
  background-color: #DCDCDC;
  float: left;
  margin: 1% 0;
  width: 25%;
  padding: 20px 25px;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-repeat: no-repeat;
}
.london {
  background-image: url("../images/london.png");
  background-repeat: no-repeat;
}
.madrid {
  background-image: url("../images/madrid.jpg");
  background-repeat: no-repeat;
}
.rome {
  background-image: url("../images/rome.jpg");
  background-repeat: no-repeat;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 20%;
    height:300px;
}
@media screen and (min-width: 991px){
   .preview {
    margin: 1%;
    width: 48%;
    height: 300px;
  }

h1 {
  font-family: serif;
  font-size: 1.75em;
  margin: 2px;
  padding-top: 3px

}
.emphasis {
  font-family: sans-serif;

}

h3 {
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: 300;
}
